body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(/src/david-brooke-martin-t_ZdxJsE8iM-unsplash.jpg);
  background-size:cover ;
  background-position: center;
  justify-content: center;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
